ispace-viewport {
    ispace-toolbar {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        bottom: 12px;
        background: #eee;
        text-align: center;
        visibility: hidden;

        button {
            color: #aaa;
            position: relative;
            border: 0px;
            margin: 0px;
            padding: 5px 8px;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;

            &:hover {
                color: #fff;
                background-color: #08f;
            }
        }

        button,
        input {
            height: 32px;
        }

        button img {
            width: 16px;
            opacity: 0.5;
        }
    }
}

body[gizmo] ispace-toolbar {
    pointer-events: none;
}