ispace-modifiers {
    overflow: auto;
    margin: 0;
    padding: 0;

    &>div.header {
        top: 0;
        width: 100%;
        background-color: rgba(75, 75, 75, 0.95);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &>span {
            margin: 10px 20px;
        }

        &>ol {
            padding: 0;
            list-style-type: none;

            &>li {
                display: inline-block;
                margin: 0 10px;

                button {
                    color: #aaa;
                    background-color: rgba(60, 60, 60, 0);
                    border: 0;
                    margin: 0;
                    cursor: pointer;
                    outline: none;

                    img {
                        margin: 4px;
                        color: rgba(0, 0, 0, 0.5);
                        width: 20px;
                    }
                }
            }
        }
    }

    &>ol {
        list-style-type: none;
        margin: 10px;
        padding: 0;

        &>li {
            background-color: rgba(75, 75, 75, 0.95);
            padding: 10px;
            
            div.header {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                &>span.name {
                    flex-grow: 1
                }

                &>button {
                    border: none;
                    cursor: pointer;
                    outline: none;

                    &.visibility {
                        background-color: rgba(75, 75, 75, 0.95);
                    }

                    &.apply, &.remove{
                        background-color: rgba(60, 60, 60, 0.95);
                        padding:10px;
                        margin:2px;
                    }
                }
            }

            &>ispace-modifier-symmetry-factory {}
        }
    }
}

ispace-dialog.failure {
    form {
        border: 1px solid darkred;
    }
}