ispace-creators {
    overflow: auto;
    margin: 6px 6px;

    &>ol {
        padding: 0;
        list-style-type: none;
        margin: 0;

        &>li {
            display: inline-block;

            button {
                color: #aaa;
                background-color: rgba(75, 75, 75, 0.95);
                border: 0;
                border: 0px;
                margin: 0px;
                padding: 3px 6px;
                cursor: pointer;
                outline: none;
            }
        }

        &>li:not(:last-child) {
            margin-right: .5rem;
        }
    }


    ispace-creator-shell-creator,
    ispace-creator-ispace-simple-creator,
    ispace-creator-elementary-solid,
    ispace-creator-curve-extrusion-solid,
    ispace-creator-curve-revolution-solid,
    ispace-creator-curve-evolution-solid,
    ispace-creator-curve-loved-solid,
    ispace-creator-boolean-solid,
    ispace-creator-cutting-solid,
    ispace-creator-symmetry-solid,
    ispace-creator-hole-solid,
    ispace-creator-smooth-solid,
    ispace-creator-chamfer-solid,
    ispace-creator-fillet-solid,
    ispace-creator-full-fillet-solid,
    ispace-creator-shell-solid,
    ispace-creator-draft-solid,
    ispace-creator-rib-solid,
    ispace-creator-split-shell,
    ispace-creator-nurbs-block-solid,
    ispace-creator-face-modified-solid,
    ispace-creator-modified-nurbs-item,
    ispace-creator-nurbs-modification,
    ispace-creator-transformed-solid,
    ispace-creator-thin-shell-creator,
    ispace-creator-union-solid,
    ispace-creator-detach-solid,
    ispace-creator-duplication-solid,
    ispace-creator-reverse-creator,
    ispace-creator-divided-shell {
        img {
            flex: 0 0 auto;
            display: inline-block;
            margin: 0 2px 0 -1px;
            color: rgba(0, 0, 0, 0.5);
            width: 15px;
            height: 15px;
        }
    }
}