// Pane-items are things that go inside a pane. Like the UI-Demo, the
// settings-view, the archive-view, the image-view. Etc. Basically a non-
// editor resource with a tab.
ispace-pane-container {
    position: relative;
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;

    ispace-pane-axis {
        position: relative;
        display: flex;
        flex: 1;
        min-width: 0;
        min-height: 0;

        &>ispace-pane-resize-handle {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                z-index: 11;
            }
        }
    }

    ispace-pane-axis.vertical {
        flex-direction: column;

        &>ispace-pane-resize-handle {
            border-bottom: none;

            &:before {
                height: 8px;
                top: -4px;
                left: 0;
                right: 0;
                cursor: row-resize;
            }
        }
    }

    ispace-pane-axis.horizontal {
        flex-direction: row;

        &>ispace-pane-resize-handle {
            border-right: none;

            &:before {
                width: 8px;
                left: -4px;
                top: 0;
                bottom: 0;
                cursor: col-resize;
            }
        }
    }

    ispace-pane {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: visible;
        min-width: 0;
        min-height: 0;
    }
}

// Windows doesn't have row- and col-resize cursors
.platform-win32 {
    ispace-pane-container {
        ispace-pane-axis.vertical {
            &>ispace-pane-resize-handle {
                cursor: ns-resize;
            }
        }

        ispace-pane-axis.horizontal {
            &>ispace-pane-resize-handle {
                cursor: ew-resize;
            }
        }
    }
}

.ispace-pane-cursor-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    &.horizontal {
        cursor: col-resize;
    }

    &.vertical {
        cursor: row-resize;
    }
}