ispace-viewport:hover {
    ispace-toolbar {
        visibility: visible;
    }

    ispace-keybindings {
        visibility: visible;
    }
}

ispace-viewport {
    flex: 1;
    display: flex;
    min-width: 0;
    min-height: 0;
    position: relative;

    ispace-keybindings {
        position: absolute;
        right: 100px;
        bottom: 12px;
        background: transparent;
        visibility: hidden;
        color: white;
        pointer-events: none;

        ul {
            li {
                list-style-type: none;
                margin: 5px;

                .keystroke {
                    font-weight: bold;
                    border: 1px solid white;
                    padding: 0 2px;
                    margin: 5px;
                }
            }
        }
    }

    ispace-viewport-header {
        position: absolute;
        width: 100%;
        top: 6px;

        &>.selection {
            position: absolute;
            left: 40px;
            text-align: center;
            display: inline-block;
        }

        &>.info {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            margin-top: 5px;
        }

        &>.properties {
            position: absolute;
            right: 140px;
            text-align: center;
            display: inline-block;
        }

        &>.selection,
        &>.properties {
            &>input[type="checkbox"] {
                position: absolute;
                clip: rect(0, 0, 0, 0);
                pointer-events: none;
            }

            &>label.btn {
                margin: 0 2px;
                color: #fff;
                background-color: #6c757d;
                border-color: #6c757d;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                user-select: none;
                border: 1px solid transparent;
                font-size: 1rem;
                border-radius: .25rem;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                img {
                    margin: 4px;
                    color: rgba(0, 0, 0, 0.5);
                    width: 14px;
                    height: 14px;
                }

                &:hover {
                    color: #fff;
                    background-color: #08f;

                    img {
                        background-color: #08f;
                    }
                }
            }

            input[type="checkbox"]:checked+label.btn {
                color: #fff;
                background-color: #0d6efd;
                border-color: #0d6efd;
            }
        }
    }

    ispace-snap-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        div {
            position: absolute;
            background-color: #6c757d;
            opacity: 0.9;
            color: black;
            margin-left: 20px;
            margin-top: -20px;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            user-select: none;
            font-size: 1rem;
            border-color: #6c757d;
            border: 1px solid transparent;
        }
    }

    div.select-box {
        position: fixed;

        &.contains {
            border: 1px solid #55aaff;
            background-color: rgba(75, 160, 255, 0.3);
        }

        &.intersects {
            border: 1px dashed #aa55ff;
            background-color: rgba(205, 63, 162, 0.3);
        }
    }

    svg.gizmo-helper {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        line {
            stroke: black;
            stroke-width: 0.002;
            stroke-dasharray: 0.006;
        }
    }
}

ispace-viewport canvas:focus {
    outline: none;
}